.grid-wrapper {
    
    position: absolute;
    margin: 15px 0px 0px 55px;
    display: grid;
    width: fit-content;

    
}

@media (max-width: 600px) {
        .grid-wrapper {
            left:10px;
        }
}
