.selector {
    display: flex;
    align-items: center;
    padding: 8px 6px;
    border: solid 2px white;
    border-radius: 70px;
}

.selector:hover {
    cursor:pointer;
}
.category-display:hover {
    cursor:pointer;
}

.arrow-icon {
    margin-left: 10px;
}

.arrow-icon-down {
    color: orange;
}

.orange {
    color: orange;
    border-color: orange;
}
