.filter-container {
    padding-top: 40px;
}

.flex-container-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.filter-submit-button {
    margin-left: 140px;
    background-color: white;
    outline:none;
    border:none;
    font-size: 100%;
    padding: 8px 26px;
    border-radius: 70px;
}

.filter-submit-button:hover {
    cursor:pointer;
}